node_modules
.pnpm-store
.git
.gitignore
.github
Dockerfile
dev.dockerfile
docker-compose.yml
npm-debug.log
.DS_Store
.vscode
.env
.env.*
dist
dist-server
app/node_modules
app/dist
app/dist-server
docs
*.log
*.md
swag-config