name: Build and Deploy Docker Images & Apply Kubernetes Changes

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build frontend image
        run: |
          docker buildx \
          build --platform linux/amd64 \
          -f ./Dockerfile.client \
          --build-arg VITE_OIDC_AUTHORITY=https://auth-dev.snowse.io/realms/DevRealm \
          --build-arg VITE_OIDC_CLIENT_ID=mateo-chat \
          -t ${{ secrets.DOCKER_USERNAME }}/aichat-frontend:${{ github.run_number }} \
          .

      - name: Build backend image
        run: |
          docker buildx build --platform linux/amd64 \
          -f ./Dockerfile.server \
          -t ${{ secrets.DOCKER_USERNAME }}/aichat-backend:${{ github.run_number }} \
          .

      - name: Push frontend image to DockerHub
        if: github.event_name != 'pull_request'
        run: docker push ${{ secrets.DOCKER_USERNAME }}/aichat-frontend:${{ github.run_number }}

      - name: Push backend image to DockerHub
        if: github.event_name != 'pull_request'
        run: docker push ${{ secrets.DOCKER_USERNAME }}/aichat-backend:${{ github.run_number }}

      - name: Set up kube config
        run: export KUBECONFIG=$HOME/.kube/config
        
      - name: Check Nodes
        run: kubectl get nodes

      - name: Apply Kubernetes Changes
        run: |
          export BUILD_NUMBER=${{ github.run_number }}
          export NAMESPACE=mateo-aichat
          
          for FILE in "kube"/*
          do
              cat $FILE | envsubst | kubectl apply -f -
          done
